[Unit]
Description=Install any missing Homebrew packages configured for this user
Wants=network-online.target
After=network-online.target default.target
ConditionPathExists=/home/linuxbrew/.linuxbrew/bin/brew

[Service]
Type=oneshot
ExecStart=/usr/libexec/hyprland-image/brew-package-setup
TimeoutStartSec=1800

[Install]
WantedBy=default.target
